.c-checkbox {
  width: 13.5px;
  height: 13.5px;
}

.c-product-description {
  display: flex;
  flex-direction: column;
}
.c-product-description__numberTitle {
  margin-top: 26px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.c-product-description__title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  color: #0d97c6;
}
@media screen and (min-width: 768px) {
  .c-product-description__title {
    font-size: 20px;
  }
}
.c-product-description__number {
  width: 26px;
  height: 26px;
}
.c-product-description__item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.c-product-description__info {
  padding-left: 6.25px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #2f3033;
}
@media screen and (min-width: 768px) {
  .c-product-description__info {
    font-family: "Inter", sans-serif;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .c-product-description__info {
    font-size: 18px;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.ez-container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.ez-container__topImage, .ez-container__bottomImage {
  width: 100%;
}
.ez-container__firstContent {
  padding: 26px 12px;
}
.ez-container__title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0d97c6;
}
@media screen and (min-width: 768px) {
  .ez-container__title {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  .ez-container__title {
    font-size: 36px;
  }
}
.ez-container__grayContent {
  padding: 17px 12px;
  background: #eeeef0;
}
@media screen and (min-width: 992px) {
  .ez-container__grayContent {
    border-radius: 0px 20px 20px 0px;
    max-width: 1019px;
  }
}
@media screen and (min-width: 768px) {
  .ez-container__productDescription {
    display: flex;
  }
}
.ez-container__productDescription--reverse {
  flex-direction: row-reverse;
}
.ez-container__productImage {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .ez-container__productImage {
    max-width: 287px;
  }
}
.ez-container__productImage--img {
  max-width: 245px;
  width: 100%;
}
.ez-container__separator {
  padding: 15px 0;
  border-bottom: 0.5px solid #5dd3fc;
}
@media screen and (min-width: 992px) {
  .ez-container__separator {
    width: 80%;
    margin: 0 auto;
  }
}
.ez-container__button {
  padding: 37px 12px;
  display: flex;
  justify-content: center;
}
.ez-container__button button {
  background: #c21b23;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 292px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .ez-container__button button {
    width: 577px;
    height: 50px;
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .ez-container__button button {
    height: 75px;
    font-size: 24px;
  }
}
.ez-container__buldingImage {
  display: none;
}
@media screen and (min-width: 992px) {
  .ez-container__buldingImage {
    max-width: 318px;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 10;
    top: 190px;
    left: 1010px;
  }
}
