/* Error: Expected identifier.
 *   ,
 * 3 | @function toRem($px) {
 *   |                       ^
 *   '
 *   src\global\_function.scss 3:23    @forward
 *   src\global\_global.scss 2:1       @use
 *   src\mdu-riser\css\style.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a   \2577 \a 3 \2502  @function toRem($px) {\d\a   \2502                        ^\a   \2575 \a   src\\global\\_function.scss 3:23    @forward\a   src\\global\\_global.scss 2:1       @use\a   src\\mdu-riser\\css\\style.scss 1:1  root stylesheet";
}
