@use '../../global/global';

$yellow: yellow;

body {
  color: $yellow;

  @include global.device(md) {
    color: tomato;
  }

  @include global.device(lg) {
    color: blue;
    font-size: global.toRem(32);
  }
}