@use '../../global/global';

$red: red;

body {
  color: $red;

  @include global.device(md) {
    color: blue;
  }

  @include global.device(lg) {
    color: green;
    font-size: global.toRem(32);
  }
}